.active {
	background-color: rgb(108 117 125) !important;
}

.editor-control {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 250px;
	cursor: pointer;
	box-shadow: unset;
	background-color: rgba(0, 0, 0, 0);
	/* background-color: rgba(0,0,0,.04); */
}

.editor-control:hover {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.editor-control svg {
	position: relative;
	z-index: -5;
}

.editor-save {
	width: 3rem;
	height: 3rem;
	font-size: 1.4rem !important;
	color: var(--white) !important;
	background: var(--cyan) linear-gradient(45deg, var(--cyan) 25%, var(--purple))
		no-repeat !important;
	position: absolute;
	right: 2px;
	bottom: 13px;
	opacity: 0.7;
}
