.form-control {
	border-radius: 250px !important;
	border: none !important;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.search {
	width: 100%;
	display: flex;
}

#search {
	padding-left: 35px;
	padding-right: 35px;
	flex: 1;
}

.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 15px;
	transition: 0.5s ease all;
}

.fa-bars {
	position: absolute;
	top: 24px;
	left: 15px;
	transition: 0.5s ease all;
}

.fa-arrow-left {
	opacity: 0;
	transform: translateY(-25%);
	visibility: hidden;
	transform: rotate(-90deg);
}

#search:focus ~ .fa-bars {
	transform: translateY(-50%) rotate(90deg);
	opacity: 0;
	visibility: hidden;
}

#search:focus ~ .fa-arrow-left {
	opacity: 1;
	visibility: visible;
	transform: translateY(-50%) rotate(0deg);
}

.fa-search {
	position: absolute;
	top: 25px;
	right: 15px;
}

.gnrl-btns {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	flex-wrap: nowrap;
}
